.cast__main_box {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px;
    margin: 5px;
    padding: 5px;
}

.cast__main_box img {
    border-radius: 50%;
}
