.box__for_companies {
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box__for_companies img {
    width: 300px;
}

.box__for_companies h3 {
    margin: 10px;
    cursor: none;
}
